body {
    background-color: #AA767C;
}

.machine {
    height: 100vh;
    width: 100vw;
    text-align: justify;
}

h1 {
    left: 3%;
    position: relative;
}

h2 {
    left: 3%;
    position: relative;
}

.display {
    height: 75vh;
    width: 75vw;
    border: solid;
    border-color: #0C6291;
    position: relative;
    left: 3%;
}


.slot1 {
    display: flex;
    flex-direction: row;
}

.slot2 {
    display: flex;
}

.slot3 {
    display: flex;
}

button {
    height: 70px;
    width: 70px;
    background-color:#FFA686;
    position: relative;
}

#score {
    height: 70px;
    width: 70px;
    background-color:#FFA686;
    position: relative;
}

.wager {
    height: 70px;
    width: 70px;
    background-color:#FFA686;
    position: relative;
}

#currentWager {
    height: 70px;
    width: 70px;
    background-color:#FFA686;
    position: relative;
}